.HomeSectionContainer{
    /* border: 1px solid red; */
    color: white;
    margin: 0 50px;
    margin-top: 210px;
}
.homeSectionTitle>div{
    margin: 0;
    font-family:  'Modak', Arial, Helvetica, sans-serif;
    color: #dadce3;
    font-size: 70px;
}
.homeSectionTitle>p{
    font-family: 'InterVariable',Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-top: 0;
    color: gray;
}