@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
    color: #fae04c;
    font-family: 'Modak', Arial, Helvetica, sans-serif;
    font-size: 150px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -45px;
    z-index: 2;
    font-weight: 500;
}

.bgImgBox {
    position: absolute;
    top: 150px;
    height: 500px;
    width: 100%;
    z-index: 1;
}

.bmContainer {
    display: flex;
    justify-content: center;
}

.mpMovies {
    display: flex;
    justify-content: center;
}

.showMoreBtn {
    background-color: transparent;
    color: #fae04c;
    font-family: 'S-CoreDream-3Light', Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 15px;
    border: none;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
}

.showMoreBtn:hover {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid #fae04c;
}

@media (max-width:1600px) {
    .mpMovies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width:980px) {
    .mpMovies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}