@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bmBtn {
    background-color: #fae04c;
    font-family: 'S-CoreDream-3Light', Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* font-size: 15px;
    height: 35px; */
    /* margin-top: 30px; */
    margin-top: 10px;
    font-size: 15px;
    height: 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    padding-left: 15px;
    cursor: pointer;
}