.title {
    color: #fae04c;
    font-family: 'Modak', Arial, Helvetica, sans-serif;
    font-size: 120px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -45px;
    z-index: 2;
    font-weight: 500;
}

.movieContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 60px;
    margin: 0 70px;
    margin-bottom: 70px;
}

@media (max-width:1600px) {
    .title {
        font-size: 100px;
    }

    .movieContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width:900px) {
    .title {
        font-size: 100px;
    }

    .movieContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}