@font-face {
    font-family: 'YClover-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.header {
    height: 70px;
    width: 100%;
    padding: 10px 0;
    background-color: #18181b;
    color: white;
    font-family: 'YClover-Bold', Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
}

.headerWrapper {
    height: 100%;
    padding: 0 35px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

.wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}